@import 'bootstrap';

ul{
	list-style-type: none;
}

li{
	float:right;
	display: block;
	padding: 14px 16px;
}


table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}